<div class="content-wrap">
	<div class="add-stu-wrap">
		<h3 class="patr-name">添加学生</h3>
		<form id="add_exam_form">
			<input type="hidden" id="sysId" name="sysId" th:value="${sysId}"/>
			<!--<input type="hidden" name="stno" th:value="${subject.stno}"/>-->
			<!--<input type="hidden" name="ststatus" th:value="${result.list.ststatus}"/>-->
			<div class="form-table">
				<div class="info-write">
					<label for="studentId"><div>学号：</div></label>
					<input type="text"  id="studentId" name="studentId" th:value="${studentId}"/>
				</div>
				<div class="info-write">
					<label for="studentName"><div>姓名：</div></label>
					<input type="text"  id="studentName" name="studentName" th:value="${studentName}"/>
				</div>
				<div class="info-write">
					<label for="sclass"><div>班级：</div></label>
					<input type="text"  id="sclass" name="sclass" th:value="${sclass}"/>
				</div>
				<div class="info-write">
					<label for="teacherId"><div>老师工号：</div></label>
					<input type="text"  id="teacherId" name="teacherId" th:value="${teacherId}"/>
				</div>
				<div class="info-write">
					<label for="result"><div>分数：</div></label>
					<input type="text" id="result" name="result" th:value="${result}"/>
				</div>
				<div class="operate">
					<a class="btn add-btn" id="add_save" th:onclick="subjectAdd.save()">添加</a>
					<a class="btn reset-btn" id="reset">重置</a>
				</div>
			</div>
		</form>

	</div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        window.subjectAdd = window.subjectAdd || {};
        //页面初始化方法
        subjectAdd.init = function(){};
        //保存方法
        subjectAdd.save = function(){
            //表单校验
            if(subjectAdd.validate()){
                //保存
                $.ajax({
                    type:'post',
                    url:'student/save',
                    dataType:'json',
                    data:$("#add_exam_form").serializeArray(),
                    async:'false',//异步
                    success:function(res){
                        if(res.code='200'){
                            new $Msg({
                                content:"保存"+res.message+"！",
                                type:"success",
                                btnName : ["留在本页", "学生列表"],
                                confirm:function(){
                                    //刷新页面
                                    $("#content_page").load("student/addExam",{"studentId":$("#studentId".val())},function(){});
                                },
                                cancle:function(){
                                    //跳转列表
                                    $("#content_page").load("student/students",function(){});
                                }
                            });
                        }
                    },
                    error:function(res){

                    }
                });
            }
        };

        //重置
        $("#reset").on('click',function(){
            $("#studentName").val('');
            $("#studentId").val('');
            $("#teacherId").val('');
            $("#result").val('');
            $("#sclass").val('');


        });
        subjectAdd.validate = function(){
            return true;
		}
        //方法调用
        subjectAdd.init();
    });
    /*]]>*/
</script>