<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>学生登录成功</title>
	<link rel="stylesheet" href="../css/base.css"/>
	<link rel="stylesheet" href="../css/skin.css"/>
	<link rel="stylesheet" href="../plugins/select2/css/select2.min.css"/>
</head>
<body>
	<div class="wrap">
		<!-- 页面头部start -->
		<div class="header">
			<div class="logo">
				<h1>
					<a>在线考试系统</a>
				</h1>
			</div>
			<div class="header-menu">
				<ul class="fn-clear">
					<li>
						<img src="../img/admin.png" alt="">
						<span>张三</span><span>，欢迎您登录在线考试系统</span>
					</li>
					<li class="space"></li>
					<li class="exit">
						<a>退出登录</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 页面头部end -->
		<!-- 页面主体start -->
		<div class="main fn-clear" id="main_content">
			<!-- 页面导航栏start -->
			<div class="navi">
				<!--<ul class="app-list-menu menu1">
					<li class="app-list level1">
						<a href="" class="active name level1-name">学生管理</a>
						<ul class="app-list-menu menu2">
							<li><a href="../teacher/addStudent.html" class="name level2-name">添加学生</a></li>
							<li><a href="" class="active name level2-name">查询学生信息</a></li>
						</ul>
					</li>
					<li class="app-list level1">
						<a class="name level1-name">试题管理</a>
						<ul class="app-list-menu menu2">
							<li><a href="../subject/addExam.html" class="name level2-name">添加试题</a></li>
							<li><a href="../teacher/examList.html" class="name level2-name">查询试题</a></li>
							<li><a href="exam.html" class="name level2-name">搜索试题</a></li>
						</ul>
					</li>
				</ul>-->
			</div>
			<!-- 页面导航栏end -->
			<div class="content">
				<div class="content-wrap">
					<div class="add-stu-wrap">
						<form action="">
							<div class="test-content">
								<h1 class="test-head">XXX考试</h1>
								<h3><span>剩余时间：</span><span>1:30:45</span></h3>
								<div class="test-item">
									<div class="test-title test-score">一、选择题(从以下选项中选出正确答案,满分100分)</div>
									<ul class="test-wrap">
										<li>
											<div class="test-title">1、JAVA所定义的版本中不包括：（）</div>
											<ul class="test-option">
												<li>
													<input type="radio" name="first" id="first-first" />
													<label for="first-first">A、 JAVA2 EE</label>
												</li>
												<li>
													<input type="radio" name="first" id="first-second"/>
													<label for="first-second">B、 JAVA2 Card</label>
												</li>
												<li>
													<input type="radio" name="first" id="first-third"/>
													<label for="first-third">C、 JAVA2 ME</label>
												</li>
												<li>
													<input type="radio" name="first" id="first-four"/>
													<label for="first-four">D、 JAVA2 HE</label>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="operate"><a class="btn commit-btn">提交试卷</a></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 页面主体start -->
	</div>
	<script type="text/javaScript" src="../plugins/jquery/jquery-1.11.3.min.js"></script>
	<script type="text/javaScript" src="../plugins/select2/pinyin.js"></script>
	<script type="text/javaScript" src="../plugins/select2/select2.js"></script>
	<script type="text/javaScript" src="../plugins/nicescroll/jquery.nicescroll.js"></script>
	<script th:inline="javascript">
        /*<![CDATA[*/
		$(document).ready(function() {
			var _wHeight = $(window).height();
			var _hHeight =$(".header").height();
			$("#main_content").height(_wHeight-80);
			$(".navi").height(_wHeight-80);
			$(".content").height(_wHeight-80);
			$(".sel").select2();
			$('.content').niceScroll().hide();

		});
        /*]]>*/
	</script>
</body>
</html>