<div class="content-wrap">
    <div class="add-stu-wrap">
        <form action="" id="exam_commit">
            <div class="test-content">
                <h1 class="test-head">XXX考试</h1>
                <h3><span>剩余时间：</span><span id="time"></span></h3>
                <div class="test-item">
                    <div class="test-title test-score">一、选择题(从以下选项中选出正确答案,满分100分)</div>
                    <ul class="test-wrap">
                        <li th:each="item,ste :${lists}">
                            <input type="hidden" th:name="'sysid'+${ste.index}" th:value="${item.sysid}"/>
                            <!--<span th:text="${ste.index+1}"></span>-->
                            <div class="test-title" th:text="${ste.index+1}+'、'+${item.sttitle}"></div>
                            <ul class="test-option">
                                <li>
                                    <input type="radio" th:name="'stanswer'+${ste.index}" value="1"/>
                                    <label th:text="${item.stoptiona}"></label>
                                </li>
                                <li>
                                    <input type="radio" th:name="'stanswer'+${ste.index}" value="2"/>
                                    <label th:text="${item.stoptionb}"></label>
                                </li>
                                <li>
                                    <input type="radio" th:name="'stanswer'+${ste.index}" value="3"/>
                                    <label th:text="${item.stoptionc}"></label>
                                </li>
                                <li>
                                    <input type="radio" th:name="'stanswer'+${ste.index}" value="4"/>
                                    <label th:text="${item.stoptiond}"></label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="operate"><a class="btn commit-btn" id="exam_submit" th:onclick="commit();">提交试卷</a></div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        daojishi();
    });
    function commit(){
        //提交前校验
        let arr = new Array();
        $(".test-option li").each(function (index,element) {
            var sel= $(this).find("input[type='radio']").is(":checked");
            if(sel){
                arr.push($(this).find("input[type='radio']").val());
            }
        });
        if(arr.length!=5){
            new $Msg({
                content:"您的试题还没有填选完整，提交后再不能更改，确认提交吗？",
                type:"success",
                btnName : ["确认", "回到页面"],
                confirm:function(){
                    $.ajax({
                        type:'post',
                        url:'doSubmit',
                        dataType:'json',
                        data:$("#exam_commit").serializeArray(),
                        success:function (r) {
                            if(r.code == '200'){
                                new $Msg({
                                    content:"提交"+r.message+"！",
                                    type:"success",
                                    btnName : ["查看成绩", "查看解析"],
                                    confirm:function(){
                                        $("#exam_content_page").load("score",{"studentid":[[${session.user.studentid}]]},function () {

                                        })
                                    },
                                    cancle:function(){
                                        $("#exam_content_page").load("parse",function () {})
                                    }
                                });
                            }
                            //移除提交按钮，避免二次提交
                            $("#exam_submit").remove();
                        }
                    });
                },
                cancle:function(){

                }
            });
        }else{
            new $Msg({
                content:"您的试题全部完成，确认提交吗？",
                type:"success",
                btnName : ["确认", "再看看"],
                confirm:function(){
                    $.ajax({
                        type:'post',
                        url:'doSubmit',
                        dataType:'json',
                        data:$("#exam_commit").serializeArray(),
                        success:function (r) {
                            if(r.code == '200'){
                                new $Msg({
                                    content:"提交"+r.message+"！",
                                    type:"success",
                                    btnName : ["查看成绩", "查看解析"],
                                    confirm:function(){
                                        $("#exam_content_page").load("score",{"studentid":[[${session.user.studentid}]]},function () {

                                        })
                                    },
                                    cancle:function(){
                                        $("#exam_content_page").load("parse",function () {})
                                    }
                                });
                            }
                            //移除提交按钮，避免二次提交
                            $("#exam_submit").remove();
                        }
                    });
                },
                cancle:function(){

                }
            });
        }
    };
    /*]]>*/
</script>