
<div>
    <h3 class="patr-name">学生查询</h3>
    <form id="student_search_form">
        <table>
            <tr>
                <div class="info-write">
                    <label for="findBySclass">
                        <div>根据班级查询学生:</div>
                    </label>
                    <input type="text" id="findBySclass" style="width:30%" placeholder="请输入班级查询"
                           name="filter_stNo" th:value="${sclass}"/>
                </div>
                <div class="info-write">
                    <label for="findByStudentName">
                        <div>根据姓名查询学生:</div>
                    </label>
                    <input type="text" id="findByStudentName" style="width:30%" placeholder="请输入姓名查询"
                           name="filter_stNo" th:value="${studentName}"/>
                </div>
                <div class="info-write">
                    <label for="findByStudentId">
                        <div>根据姓名查询学生:</div>
                    </label>
                    <input type="text" id="findByStudentId" style="width:30%" placeholder="请输入学号查询" name="filter_stNo"
                           th:value="${studentId}"/>
                </div>
            </tr>
            <tr>
                <div class="operate">
                    <a class="btn add-btn" id="student_search">查询</a>
                    <a class="btn reset-btn" id="student_reset">重置</a>
                </div>
            </tr>
        </table>
    </form>
</div>
<div class="content-wrap">
      <div class="add-stu-wrap">
                <h3 class="patr-name">学生列表</h3>
                <form action="">
                    <table class="table same-table table-striped table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>
                                <div>学生帐号</div>
                            </th>
                            <th>
                                <div>学生姓名</div>
                            </th>
                            <th>
                                <div>学生班级</div>
                            </th>
                            <th>
                                <div>学生成绩</div>
                            </th>
                            <th>
                                <div>编辑学生</div>
                            </th>
                            <th>
                                <div>删除学生</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item:${result.list}" >
                            <td style="vertical-align: middle">
                                <div th:text="${item.studentid}"></div>
                            </td>
                            <td style="vertical-align: middle">
                                <div th:text="${item.studentname}"></div>
                            </td>
                            <td style="vertical-align: middle">
                                <div th:text="${item.sclass}"></div>
                            </td>
                            <td style="vertical-align: middle">
                                <div th:text="${item.result}"></div>
                            </td>
                            <td>
                                <div><a th:onclick="edit([[${item.sysid}]])">编辑</a></div>
                            </td>
                            <td>
                                <div><a th:onclick="del([[${item.sysid}]])">删除</a></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagger-box pagger" id="stu_page"></div>
                </form>
      </div>
    <div class="pagger-box pagger" id="sub_page"></div>
</div>

<!-- 页面主体start -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        var totalCount = [[${result.total}]];
        var pageSize = [[${result.pageSize}]];
        if(pageSize>=totalCount){
            $("#sub_page").hide();
        }
        //暂无数据
        if(totalCount==0){
            var resultHtml = '<div class="no-result normal"><div class="no-result-cont">' + "暂无数据！" + '</div></div>';
            $("thead").append(resultHtml);
        }
        $('#sub_page').paging({
            initPageNo: [[${result.pageNum}]], // 初始页码
            totalPages: [[${result.pages}]], //总页数
            totalCount: '合计' + [[${result.total}]] + '条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function(page) { // 回调函数
            },
            url:EXAM.getPath()+"/student/students?"+encodeURI([[${q}]])
        });

        //查询
        $("#student_search").on('click',function(){
            $("#content_page").load('student/students',$("#student_search_form").serializeArray(),function(){

            });
        });
        //重置
        $("#student_reset").on('click',function(){
            $("#findByStudentName").val('');
            $("#findByStudentId").val('');
            $("#findBySclass").val('');

        });
    });

        //编辑
        function edit(sysid){
            $("#content_page").load('student/addExam',{"sysid":sysid},function(){

            });
        };
        //删除
        function del(sysid){
            new $Msg({
                content:"确定要删除吗？",
                type:"success",
                btnName : ["确定","取消"],
                confirm:function(){
                    $.ajax({
                        type:'PUT',
                        url:'student/student/'+sysid+"/stuStatus",
                        data:{"sysid":sysid},
                        dataType:"json",
                        success:function(res){
                            if(res.code=='200'){
                                new $Msg({
                                    content:"删除"+res.message+"！",
                                    type:"success",
                                    btnName : ["确定","取消"],
                                    confirm:function(){
                                        //跳转列表
                                        $("#content_page").load("student/students",function(){});
                                    }
                                });
                            }
                        },
                    });
                }
            });
        };
    /*]]>*/
</script>
