<div class="content-wrap">
    <div class="add-stu-wrap">
        <form action="" id="exam_commit">
            <div class="test-content">
                <h1 class="test-head">XXX考试试题答案</h1>
                <div class="test-item">
                    <!--<div class="test-title test-score">一、选择题(从以下选项中选出正确答案,满分100分)</div>-->
                    <ul class="test-wrap">
                        <li th:each="item,ste :${stKey}">
                            <div class="test-title" th:text="${ste.index+1}+'、'+${item.sttitle}"></div>
                            <ul class="test-option">
                                <li>
                                    <input type="radio" name="stanswer" value="1"/>
                                    <label th:text="${item.stoptiona}"></label>
                                </li>
                                <li>
                                    <input type="radio" name="stanswer" value="2"/>
                                    <label th:text="${item.stoptionb}"></label>
                                </li>
                                <li>
                                    <input type="radio" name="stanswer" value="3"/>
                                    <label th:text="${item.stoptionc}"></label>
                                </li>
                                <li>
                                    <input type="radio" name="stanswer" value="4"/>
                                    <label th:text="${item.stoptiond}"></label>
                                </li>
                                <li>
                                    <span>本题解析：</span>
                                    <input type="text"  th:value="${item.stparse}"/>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){});
    /*]]>*/
</script>