<div class="content-wrap">
    <div class="add-stu-wrap">
        <form action="" id="exam_commit">
            <div class="test-content">
                <h1 class="test-head">XXX考试成绩查看</h1>
                <div class="test-item">
                    <div class="test-title test-score" style="text-align: center;">本试卷满分为100分，你的分数为：<span th:text="${score.score}"></span>分<a class="name level2-name" th:onclick="viewParse();">查看解析</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){});
    //查看解析
    function viewParse(){
        $("#exam_content_page").load("parse",function () {})
    }
    /*]]>*/
</script>