<div>
    <h3 class="patr-name">试题查询</h3>
    <form id="question_search">
        <table>
            <tr>
                <div class="info-write">
                    <label for="exam_option_A"><div>试题编号：</div></label>
                    <input type="text"  id="exam_option_A" style="width:30%" placeholder="请输入题号查询" name="filter_stNo" th:value="${sParams['stNo']}"/>
                </div>
                <div class="info-write">
                    <label for="exam_option_A"><div>题干信息：</div></label>
                    <input type="text"  id="exam_option_B" placeholder="请输入题干信息精确查询" name="filter_stTitle" th:value="${sParams['stTitle']}"/>
                </div>
            </tr>
            <tr>
                <div class="operate">
                    <a class="btn add-btn" id="subject_search">查询</a>
                    <a class="btn reset-btn" id="subject_reset">重置</a>
                </div>
            </tr>
        </table>
    </form>
</div>
<div class="content-wrap">
    <div class="add-stu-wrap">
        <h3 class="patr-name">试题库</h3>
        <form action="">
            <table class="table same-table">
                <thead>
                <tr>
                    <th width="10%">
                        <div>试题编号</div>
                    </th>
                    <th width="60%">
                        <div>试题题干</div>
                    </th>
                    <th width="10%">
                        <div>正确答案</div>
                    </th>
                    <th width="10%">
                        <div>编辑试题</div>
                    </th>
                    <th width="10%">
                        <div>删除试题</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${pageInfo.list}">
                    <td>
                        <div th:text="${item.stno}">1</div>
                    </td>
                    <td>
                        <div th:text="${item.sttitle}">刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer" th:if="${item.stanswer eq '1'}">A</div>
                        <div class="right-answer" th:if="${item.stanswer eq '2'}">B</div>
                        <div class="right-answer" th:if="${item.stanswer eq '3'}">C</div>
                        <div class="right-answer" th:if="${item.stanswer eq '4'}">D</div>
                    </td>
                    <td>
                        <div><a th:onclick="edit([[${item.sysid}]])">编辑</a></div>
                    </td>
                    <td>
                        <div><a th:onclick="del([[${item.sysid}]])">删除</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="pagger-box pagger" id="sub_page"></div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        var totalCount = [[${pageInfo.total}]];
        var pageSize = [[${pageInfo.pageSize}]];
        if(pageSize>=totalCount){
            $("#sub_page").hide();
        }
        //暂无数据
        if(totalCount==0){
            var resultHtml = '<div class="no-result normal"><div class="no-result-cont">' + "暂无数据！" + '</div></div>';
            $("thead").append(resultHtml);
        }
        $('#sub_page').paging({
            initPageNo: [[${pageInfo.pageNum}]], // 初始页码
            totalPages: [[${pageInfo.pages}]], //总页数
            totalCount: '合计' + [[${pageInfo.total}]] + '条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function(page) { // 回调函数
            },
            url:EXAM.getPath()+"/subject/list?"+encodeURI([[${searchParams}]])
        });

        //查询
        $("#subject_search").on('click',function(){
            $("#content_page").load('subject/list',$("#question_search").serializeArray(),function(){

            });
        });
        //重置
        $("#subject_reset").on('click',function(){
            $("#exam_option_A").val('');
            $("#exam_option_B").val('');
        });
    });
    //编辑
    function edit(sysid){
        $("#content_page").load('subject/addExam',{"sysid":sysid},function(){

        });
    };
    //删除
    function del(sysid){
        new $Msg({
            content:"确定要删除吗？",
            type:"success",
            btnName : ["确定","取消"],
            confirm:function(){
                $.ajax({
                    type:'post',
                    url:'subject/delete/'+ sysid,
                    data:{"sysid":sysid},
                    dataType:"json",
                    success:function(res){
                        if(res.code=='200'){
                            new $Msg({
                                content:"删除"+res.message+"！",
                                type:"success",
                                btnName : ["确定","取消"],
                                confirm:function(){
                                    //跳转列表
                                    $("#content_page").load("subject/list",function(){});
                                }
                            });
                        }
                    },
                });
            }
        });

    };
    /*]]>*/
</script>