<div>
    <h3 class="patr-name">试题查询</h3>
    <form id="question_search">
        <table>
            <tr>
                <div class="info-write">
                    <label for="exam_option_A"><div>试题编号：</div></label>
                    <input type="text"  id="exam_option_A" size="5" style="width:30%"/>
                </div>
                <div class="info-write">
                    <label for="exam_option_A"><div>题干信息：</div></label>
                    <input type="text"  id="exam_option_B" size="5"/>
                </div>
            </tr>
            <tr>
                <div class="operate">
                    <a class="btn add-btn">查询</a>
                    <a class="btn reset-btn">重置</a>
                </div>
            </tr>
        </table>
    </form>
</div>
<div class="content-wrap">
    <div class="add-stu-wrap">
        <h3 class="patr-name">试题库</h3>
        <form action="">
            <table class="table same-table">
                <thead>
                <tr>
                    <th width="10%">
                        <div>试题编号</div>
                    </th>
                    <th width="50%">
                        <div>试题题干</div>
                    </th>
                    <th width="10%">
                        <div>正确答案</div>
                    </th>
                    <th width="10%">
                        <div>查看试题</div>
                    </th>
                    <th width="10%">
                        <div>更新试题</div>
                    </th>
                    <th width="10%">
                        <div>删除试题</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>刘大铭，男，19岁，甘肃省兰州市高中生。因幼年罹患世界性罕见的成骨不全症，体重只有20多公斤。在19年中，他经历了11次大型手术，两次与死亡擦肩而过，躯干中装载着各式螺钉，肌肤上见证着各个年代的手术刀痕。十余年的求学历程中，刘大铭没有被病魔所击倒，反倒更加坚强，他怀着超然的生命情怀努力学习，坚持自己喜爱的文学创作。2013年，在完成一次大型脊椎重组手术后半年，他回到了校园，利用每日的空隙，创作完成了17.5万字的长篇个人自传《命运之上》。人民出版社与之达成出版协定，他也成为了人民出版社建社以来最年轻的签约作者。刘大铭先后十二次荣获国家级文学奖项，两次受邀至人民大会堂领奖，多篇作品在《青年文学》及国家级刊物上发表。据此回答下列小题：</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>清华大学的虞昊教授致力于第三代照明技术——LED灯的普及工作。</div>
                    </td>
                    <td>
                        <div class="right-answer">A</div>
                    </td>
                    <td>
                        <div><a>查看</a></div>
                    </td>
                    <td>
                        <div><a>更新</a></div>
                    </td>
                    <td>
                        <div><a>删除</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>