@charset "utf-8";
body { font-size: 14px; color: #333; font-family: \5fae\8f6f\96c5\9ed1; background: #e8eef1; }
img { vertical-align: middle; border: 0; }
a { text-decoration: none; color: #333; }
/* 版心 */
.wrap { min-width: 1200px; max-width: 1400px; margin: 0 auto; }
/*header*/
.header { height: 64px; padding: 8px 30px 8px 50px; background:#1e87f0; }
.logo { float: left; }
.logo a { display: block; height: 64px; line-height: 64px; padding-left: 70px; background: url(../img/logo.png) no-repeat; color: #fff; font-size: 35px; }
.header-menu { float: right; height: 100%; }
.header-menu li a,.header-menu li span { color: #fff; margin-left: 5px; }
.header-menu li { float: left; height: 30px; line-height: 30px; margin: 17px 15px 17px 0; }
.header-menu .exit { cursor: pointer; }
.header-menu .exit a:before { content: ''; width: 18px; height: 18px; float: left; margin: 5px 3px 0 0; background: url(../img/exit.png) no-repeat; }
.header-menu li.space { height: 18px; width: 1px; background: #eee; margin-top: 23px; }
/* navi */
.navi { width: 230px; float: left; background: #fff; }
.app-list-menu.menu1{ border: 1px solid #E3E3E3; border-left:0; }
.app-list-menu.menu2 li{ padding-left: 20px; }
.app-list-menu  a{ padding:10px 5px; display: block; border-bottom: 1px solid #E3E3E3; }
.app-list.level1 .level1-name { border-left: 3px solid transparent; }
.app-list.level1 .level1-name.active, 
.app-list.level1:hover .level1-name{ border-left-color:  #1e87f0; color: #1e87f0; background: #EAF5FF; }
.app-list-menu  a:last-child { border-bottom:0; }  
.app-list-menu.menu2 li:hover .level2-name,.app-list-menu.menu2 li .level2-name.active{ color: #1e87f0; }
/* content */
.content { margin-left: 240px; background: #fff; overflow-y: scroll; }
.content .content-wrap { padding-top: 10px; }
/* 添加学生 */
.content-wrap .add-stu-wrap { padding:10px; }
.content .patr-name { font-weight: 700; color: #1e87f0; border-bottom: 2px solid #1e87f0; background: #fff; height: 30px; line-height: 30px; }
.form-table { width: 60%; margin: 50px auto 0; }
.info-write { margin-top: 15px; overflow: hidden; }
.info-write label { width: 15%; float: left; padding-right: 10px; }
.info-write label  div { text-align: right; }
.info-write input[type='text'],.info-write textarea { width: 80%; border:1px solid #dacccc; height: 30px; float: left; box-sizing: border-box; text-indent: 1em; }
.info-write textarea { min-height: 100px; resize: none; }
.select-drop { float: left; width: 80%; }
.select-drop select { width: 100%; }
.operate{ margin-top: 30px; text-align: center; }
.btn { display: inline-block; padding: 8px 15px; border: 0; color: #fff; border-radius: 5px; margin-right: 15px; cursor: pointer; }
.btn.add-btn { background: #1e87f0; }
.btn.reset-btn { background: #ff6000; }
/* 学生列表*/
.content .stu-list-ul { overflow: hidden; margin-bottom: 30px; }
.stu-list-ul li { float: left; padding: 0 3px 10px; margin: 0 5px; border-bottom: 2px solid transparent; position: relative; cursor: pointer; }
.stu-list-ul li a { display: block; }
.stu-list-ul li.active { border-color:#1e87f0; } 
.stu-list-ul li.active:before { content: ''; border-width: 0 5px 5px 5px; border-color: transparent transparent #1E87F0 transparent; border-style: solid; position: absolute; left: 50%; margin-left: -5px; bottom: 0; }
.stu-list-ul li.active a{ font-weight: 700; color: #1e87f0; }
.table { width: 100%; border-collapse: collapse; table-layout: fixed!important; }
.table th ,.table td { height: 34px; padding: 2px 4px; border:1px solid #dacccc; text-align: center; }
.same-table>thead>tr>th { background: #dbe8ef; font-weight: 700; }
.same-table>tbody>tr:nth-child(2n+1) { background: #e5ecdc; }
.same-table>tbody>tr:nth-child(2n) { background: #eae8d4; }
/* 添加试题 */
.info-write input[type='radio'] { vertical-align: -moz-middle; }
/* 试题库 */
.same-table tr div { display: inline-block; text-align: left; }
.same-table tr div.right-answer { color: #ff0000; font-size: 16px; font-weight: 700; }
.same-table tr a { color: #0000ff; display: block; padding: 10px; cursor: pointer; }
/* 试题内容 */
.test-content { overflow: hidden; }
.test-content .test-head { font-size: 30px; padding: 10px; text-align: center; }
.test-content .test-item { border: 1px solid #E3E3E3; padding: 5px; }
.test-content .test-item .test-title { font-size: 16px; font-weight: 700; line-height: 30px; }
.test-content .test-item .test-title.test-score {
	color: #1e87f0;
}
.test-option { text-indent: 2em; }
.test-option li { line-height: 30px; }
.test-option li label,.test-option li  input { cursor: pointer; }
.test-content .test-wrap>li { border-bottom: 1px dashed #9e9696; }
.btn.commit-btn { background: #0f980f; }
.test-content h3 { text-align: right; padding: 0 15px 15px 0; }
/* 弹出框最外层 */
.msg__wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	transition: all .3s;
	transform: translate(-50%, -50%) scale(0, 0);
	max-width: 50%;
	background: #fff;
	box-shadow: 0 0 10px #eee;
	font-size: 10px;
}
/* 弹出框头部 */
.msg__wrap .msg-header {
	padding: 10px 10px 0 10px;
	font-size: 1.8em;
}
.msg__wrap .msg-header .msg-header-close-button {
	float: right;
	cursor: pointer;
}
/* 弹出框中部 */
.msg__wrap .msg-body {
	padding: 10px 10px 10px 10px;
	display: flex;
}
/* 图标 */
.msg__wrap .msg-body .msg-body-icon{
	width: 80px;
}
.msg__wrap .msg-body .msg-body-icon div{
	width: 45px;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
	color: #fff;
	border-radius: 50% 50%;
	font-size: 2em;
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-success{
	background: #32a323;
	text-align: center;
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-success::after{
	content: "成";
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-wrong{
	background: #ff8080;
	text-align: center;
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-wrong::after{
	content: "误";
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-info{
	background: #80b7ff;
	text-align: center;
}
.msg__wrap .msg-body .msg-body-icon .msg-body-icon-info::after{
	content: "注";
}
/* 内容 */
.msg__wrap .msg-body .msg-body-content{
	min-width: 200px;
	font-size: 1.5em;
	word-break: break-all;
	display: flex;
	align-items: center;
	padding-left: 10px;
	box-sizing: border-box;
}
/* 弹出框底部 */
.msg__wrap .msg-footer {
	padding: 0 10px 10px 10px;
	display: flex;
	flex-direction: row-reverse;
}
.msg__wrap .msg-footer .msg-footer-btn {
	width: 50px;
	height: 30px;
	border: 0 none;
	color: #fff;
	outline: none;
	font-size: 1em;
	border-radius: 2px;
	margin-left: 5px;
	cursor: pointer;
}
.msg__wrap .msg-footer .msg-footer-cancel-button{
	background-color: #ff3b3b;
}
.msg__wrap .msg-footer .msg-footer-cancel-button:active{
	background-color: #ff6f6f;
}
.msg__wrap .msg-footer .msg-footer-confirm-button{
	background-color: #4896f0;
}
.msg__wrap .msg-footer .msg-footer-confirm-button:active{
	background-color: #1d5fac;
}
/* 遮罩层 */
.msg__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, .4);
	transition: all .3s;
	opacity: 0;
}