#well {
	width: 262px;
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.8;
	overflow: hidden;
	-webkit-user-select: none;
	margin-bottom: 7px;
}
#well #unlock {
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-animation: slidetounlock 5s infinite;
	font-size: 29px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #cfcfcf;
	-webkit-text-size-adjust: none;
}
#well #unlock:after{
	content: "slide to unlock";
}
#well #unlock #slider {
	background-image: url(../images/slidetounlock.png);
	background-size: 53px 40px;
	width: 51px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
@-webkit-keyframes slidetounlock {
	0% {
		background-position: -262px 0;
	}
	100% {
		background-position: 262px 0;
	}
}
.signlabel{
	height: 30px; 
	margin-left: 20px;
	font-size: 16px;
}
@media only screen and (max-width: 500px){
    #well{ 
        display:none;
    }
    #submit{
  	  display: none;
    }
     #submit2{
    display: inline;
    }
}
@media only screen and (min-width: 500px){
	 #submit2{
    display: none;
    }
}
