<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"></meta>
    <title>登录成功</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/skin.css">
    <link rel="stylesheet" href="css/paging.css">
    <link rel="stylesheet" href="plugins/select2/css/select2.min.css"/>
</head>
<body>
<div class="wrap">
    <!-- 页面头部start -->
    <div class="header">
        <div class="logo">
            <h1>
                <a>在线考试系统</a>
            </h1>
        </div>
        <div class="header-menu">
            <ul class="fn-clear">
                <li>
                    <img src="img/admin.png" alt="">
                    <span th:text="${session.custom.chinaName}"></span><span>，欢迎您登录在线考试系统</span>
                </li>
                <li class="space"></li>
                <li class="exit">
                    <a onclick="loginOut()">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 页面头部end -->
    <!-- 页面主体start -->
    <div class="main fn-clear" id="main_content">
        <!-- 页面导航栏start -->
        <shiro:hasRole name="teacher">
            <div class="navi">
                <ul class="app-list-menu menu1">
                    <li class="app-list level1">
                        <a class="active name level1-name">学生管理</a>
                        <ul class="app-list-menu menu2">
                            <li><a  class="active name level2-name"id="add_student">添加学生</a></li>
                            <li><a class="name level2-name"id="search_students">查询学生信息</a></li>
                        </ul>
                    </li>
                    <li class="app-list level1">
                        <a class="name level1-name">试题管理</a>
                        <ul class="app-list-menu menu2">
                            <li><a class="name level2-name" id="add_question">添加试题</a></li>
                            <li><a class="name level2-name" id="search_questions">查询试题</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </shiro:hasRole>
        <shiro:hasRole name="student">
            <div class="navi">
                <ul class="test-wrap">
                    <li>
                        <span style="font-size: 16px;font-weight: 700;" th:text="'登录学号：'+${session.user.studentname}" id="xuehao"></span>
                    </li>
                    <li>
                        <span style="font-size: 16px;font-weight: 700;" th:text="'所在班级：'+${session.user.sclass}">班级：</span>
                    </li>
                    <li id="last_score">
                        <!--<span style="font-size: 16px;font-weight: 700;"  th:text="${s}">上一次成绩：</span>-->
                    </li>
                </ul>
            </div>
        </shiro:hasRole>
        <!-- 页面导航栏end -->
        <div class="content" id="content_page">

        </div>
    </div>
    <!-- 页面主体end -->
</div>
<script type="text/javaScript" src="plugins/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javaScript" src="plugins/select2/pinyin.js"></script>
<script type="text/javaScript" src="plugins/nicescroll/jquery.nicescroll.js"></script>
<script type="text/javaScript" src="plugins/select2/select2.js"></script>
<script type="text/javascript" src="js/paging.js"></script>
<script type="text/javascript" src="js/dialog.js"></script>
<script type="text/javascript" src="js/online.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var _wHeight = $(window).height();
        var _hHeight =$(".header").height();
        $("#main_content").height(_wHeight-80);
        $(".navi").height(_wHeight-80);
        $(".content").height(_wHeight-80);
        $(".sel").select2();
        $('.content').niceScroll().hide();
        var stu = [[${session.custom.userRole}]];
        if(stu == 'student'){
            //自动获取试题
            $("#content_page").load("exam/online",function () {});
        }else if(stu == 'teacher'){
            $("#content_page").load("student/students",function(){});
        }
    });
    //添加试题
    $("#add_question").on('click',function(){
        $("#content_page").load("subject/addExam",function(){

        });
    });
    //查询试题
    $("#search_questions").on('click',function(){
        $("#content_page").load("subject/list",function(){

        });
    });
    //添加学生
    $("#add_student").on('click',function(){
        $("#content_page").load("student/student",function(){

        });
    });

    //查询学生信息
    $("#search_students").on('click',function(){
        $("#content_page").load("student/students",function(){

        });
    });

    //退出登录
    function loginOut(){
        debugger;
        //显示弹出框，点击确定才能退出
        new $Msg({
            content:"确定要退出吗？",
            type:"success",
            confirm:function(){
                //获取项目跟路径
                var result = EXAM.getPath();
                window.location.href=result+"/logout";
            },
            cancle:function(){
                console.log("不做任何操作！")
            }
        })
    };

    var counttime=5*60;//总秒钟
    function daojishi(){
        if(counttime>=0){
            var ms = counttime%60;//余数 89%60==29秒
            var mis = Math.floor(counttime/60);//分钟
            if(mis>=60){
                var hour=Math.floor(mis/60);
                mis=Math.floor((counttime-hour*60*60)/60);
                document.getElementById("time").innerHTML=hour+"小时"+mis+"分"+ms+"秒";
            }else if(mis>=1){
                document.getElementById("time").innerHTML=mis+"分"+ms+"秒";
            }else{
                document.getElementById("time").innerHTML=ms+"秒";
            }
            counttime--;
            vartt =  window.setTimeout("daojishi()",1000);
        }else{
            window.clearTimeout(vartt);
            window.confirm("考试时间结束,请单击提交");
            commit();
        }
    };
    /*]]>*/
</script>
</body>
</html>