<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caojiawangduocongdemo.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.caojiawangduocongdemo.entity.Permission" >
    <id column="per_id" property="perId" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    per_id, permission_name, role_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where per_id = #{perId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from permission
    where per_id = #{perId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caojiawangduocongdemo.entity.Permission" >
    insert into permission (per_id, permission_name, role_id
      )
    values (#{perId,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.caojiawangduocongdemo.entity.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        per_id,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        #{perId,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caojiawangduocongdemo.entity.Permission" >
    update permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where per_id = #{perId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caojiawangduocongdemo.entity.Permission" >
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where per_id = #{perId,jdbcType=VARCHAR}
  </update>
</mapper>