<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caojiawangduocongdemo.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.caojiawangduocongdemo.entity.Teacher" >
    <id column="sysid" property="sysid" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="teacherName" property="teachername" jdbcType="VARCHAR" />
    <result column="teacherPic" property="teacherpic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sysid, teacherId, password, teacherName, teacherPic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where sysid = #{sysid,jdbcType=VARCHAR}
  </select>
  <select id="findByTeacherId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from teacher
    where teacherId = #{teacherid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where sysid = #{sysid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caojiawangduocongdemo.entity.Teacher" >
    insert into teacher (sysid, teacherId, password, 
      teacherName, teacherPic)
    values (#{sysid,jdbcType=VARCHAR}, #{teacherid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{teachername,jdbcType=VARCHAR}, #{teacherpic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.caojiawangduocongdemo.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysid != null" >
        sysid,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="teachername != null" >
        teacherName,
      </if>
      <if test="teacherpic != null" >
        teacherPic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysid != null" >
        #{sysid,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="teacherpic != null" >
        #{teacherpic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caojiawangduocongdemo.entity.Teacher" >
    update teacher
    <set >
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        teacherName = #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="teacherpic != null" >
        teacherPic = #{teacherpic,jdbcType=VARCHAR},
      </if>
    </set>
    where sysid = #{sysid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caojiawangduocongdemo.entity.Teacher" >
    update teacher
    set teacherId = #{teacherid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      teacherName = #{teachername,jdbcType=VARCHAR},
      teacherPic = #{teacherpic,jdbcType=VARCHAR}
    where sysid = #{sysid,jdbcType=VARCHAR}
  </update>
</mapper>