<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caojiawangduocongdemo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.caojiawangduocongdemo.entity.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="china_name" property="chinaName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="identify" property="identify" jdbcType="VARCHAR" />
    <collection property="roles" ofType="com.caojiawangduocongdemo.entity.Role">
      <id column="role_id" property="roleId" jdbcType="VARCHAR" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="role_name" property="roleName" jdbcType="VARCHAR" />
      <collection property="permissions" ofType="com.caojiawangduocongdemo.entity.Permission">
        <id column="per_id" property="perId" jdbcType="VARCHAR" />
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="VARCHAR" />
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, china_name, user_name, user_pass, user_role, create_time, role_id, identify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="findUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from user u,role r,permission p where u.role_id = r.role_id and
    p.role_id = r.role_id and u.user_name = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.caojiawangduocongdemo.entity.User" >
    insert into user (user_id, china_name, user_name, 
      user_pass, user_role, create_time, 
      role_id,identify)
    values (#{userId,jdbcType=VARCHAR}, #{chinaName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPass,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}),#{identify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.caojiawangduocongdemo.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="chinaName != null" >
        china_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPass != null" >
        user_pass,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="identify != null" >
        identify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="chinaName != null" >
        #{chinaName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="identify != null" >
        #{identify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caojiawangduocongdemo.entity.User" >
    update user
    <set >
      <if test="chinaName != null" >
        china_name = #{chinaName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null" >
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="identify != null" >
        identify = #{identify,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caojiawangduocongdemo.entity.User" >
    update user
    set china_name = #{chinaName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      identify = #{identify,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>